@page {
	margin:					2cm;
}

html, body {
	margin:					0;
	padding:				0;
	width: 					100%;
	height: 				100%;
	font-family: 			'Marmelad', sans-serif;
	overflow-y:hidden;
}

/* ------------barra fissa in alto----------------*/

header {
	position: 				fixed;
	width: 					100%;
	height: 				55px;
	background-image: 		url(../immagini/blu.jpg);
	background-size: 		100%;
/*	background-color: 		#93AFD7;*/
	text-align: 			center;
	line-height: 			55px;
	z-index: 				50;
	box-shadow: 			black 0px 5px 15px;
}

/* -------------------------------------------------*/

#search {
	display: 				inline-block;
	position: 				relative;
	float:					left;
	margin-left:			14px;
	height: 				100%;
}

#search > img {
	height: 				30px;
	width: 					30px;
	position: 				absolute;
	top: 					13px;
	left: 					5px;
}

#search > input[type=text] {
	/*display: 				inline-block;*/
    width: 					200px;
    /*border: 				2px solid #ccc;*/
    /*border-radius: 			15px / 50%;*/
    background-color:		white;
    padding: 				6px 20px 6px 40px;
    transition: 			width 0.4s ease-in-out;
    font-family: 			'Marmelad', sans-serif;
    border-bottom: 			1px solid #ffffff;
}

#search > input[type=text]:focus {
    width: 					150%;
    outline: 				none;
}

/* -------------------------------------------------*/

h1 {
	margin: 				0;
	width: 					200px;
	height: 				100%;
    margin: 				0 auto;
}

#titolo {
	font-family: 			'Srisakdi', cursive;
	color: 					white;
	text-decoration: 		none;
  	text-shadow: 	 		4px 2px 2px black; 
  	letter-spacing: 		7px;
}

#right-icons {
	float: 					right;
	height: 				55px;
	padding-right: 			10px;
}

#right-list {
	padding:				0;
	text-align: 			right;
	margin:  				0;
}

#right-list > li {
	display: 				inline;
	list-style: 			none;
	padding: 				10px;
	position: 				relative;
	bottom: 				0;
    transition: 			all 0.3s ease 0s;
    cursor: 				pointer;
}

#right-list > li:hover{
	bottom: 				5px;
}

/*--------------------------------------------------*/

.fadein, .fadeout {
    opacity: 				0;
    transition: 			opacity 1s;
}
.fadein {
    opacity: 				1;
}

#element {
	position: 				relative;
	display: 				block;
	background-color: 		white;
	width: 					400px;
	height: 				300px;
	margin: 				30px 50px;
}
#element:after {
	position: 				absolute;
	top: 					50px;
	right: 					0;
	margin-right: 			-25px;
	font-size: 				17px;
	line-height: 			1;
}

#element > h2 {
	position: 				relative;
	text-align: 			center;
	width: 					100%;
	display: 				inline-block;
	margin: 				10px 0;
	height: 				30px;	
}

.form-label {
	display: 				block;
	height: 				30px;
	line-height: 			30px;
	text-align: 			left;
	padding-left: 			20px;
}

.input-box > input {
	width: 					80%;
	height: 				30px;
	padding: 				0 15px;
	border: 				1px solid #cecece;
	background-color: 		#fff;
	margin: 				0px;
}

#element > a {
	font-size: 				10px;
	text-align: 			left;
}

#element > img {
	cursor: 				pointer;
	position: 				absolute;
	right: 					0;
	top: 					0;
	margin: 				10px;
}

#element > button {width: 100px; margin-left: 20px;} 

span {
	position: 				absolute;
	top: 					55px;
	right: 					35px;
	color: 					red;
}

/*----------------------------------------------------*/
/*						FINE HEADER		    		  */
/*----------------------------------------------------*/


/* ------------ aside per il menu (link al catalogo) --------------- */

aside {
	z-index: 				49;
	position: 				fixed;
	padding-top: 			5%;
	width:	 				23.5%;
	height: 				100%;
	float: 					left;
	background-image:		url(../immagini/stars.jpg);
	/*opacity: 				0.8;*/
}

#menu {
	padding:				10%;
}

.menu-list {
   list-style-type: 		none;			/*tolto pallini lista*/
   border-bottom: 			1px solid #DADADA;	/*linea inferiore al termine di ul*/
   padding: 				0;
}

.menu-list > li {  
	font-size: 				24px;
	padding: 				5px 0;
	color: 					white;
    transition: 			all .4s ease-in-out;
    z-index: 				201;
}

.menu-list > li:hover {
	color: 					#93AFD7;
	cursor: 				pointer;
	padding-left: 			10px;
}

.menu-list > li > a:hover {
	color: 					#93AFD7;
}

a:link, a:visited {
	color: 					white;
    text-decoration: 		none;
}

/* -----------------------------------------*/

#social {
	background-color: 		transparent;
	height: 				50px;
  	line-height: 			50px;
}

#social > ul {
  	padding:				0;
  	margin: 				0;
  	text-align:				center;
  	height: 				100%;
}

#social > ul > li {
	display: 				inline;
	list-style: 			none;
    padding: 				10px;
    position: 				relative;
    bottom: 				0;
    transition: 			all 0.3s ease 0s;
}

#social > ul > li:hover{
	bottom: 				5px;
}

/* ----------------- la parte per le immagini ---------- */

/* Slideshow container */
.slideshow-container {
	position: 				relative;
	width: 100%;
	height: 100%;
	margin: 				auto;
	margin-top: 			0;
	top: 55px;
}

.slideshow-container > div {
	position: 				absolute;
	opacity: 				1;
	transition: 			opacity 1s;
}

.slideshow-container > div > img {
	width: 					100%;
	display: 				inline;
}


/* -----------------parte in basso----------------------*/

footer {
	position: 				fixed;
	left: 					0;
	bottom: 				0;
	background-image: 		url(../immagini/blu.jpg);
	background-size: 		100%;
	/*background-color: 		#93AFD7;*/
	width: 					100%;
	padding:				10px 0 10px 0;
	color:					white;
	text-align: 			center;
	z-index: 				50;
	box-shadow: 			black 0px -5px 15px;
}

footer > form > input {
	/*border-radius: 			20px;*/
	width: 					20%;
	padding-left: 			10px;
	font-family: 			'Marmelad', sans-serif;
}

button {
	/*box-shadow: 			0 1px 3px #4F7AB7;*/
	color: 					black;
	background-color: 		#93AFD7;
	font-family: 			'Marmelad', sans-serif;
}


.sign_in_error {
  color:                  red;
  width:                  100%;
  text-align:             center;
  position:               fixed;
  padding:                20px 0;
  background-color:       rgba(244, 198, 198, 0.8);
  float: right;
  position: relative;
  top: 20%;
}

.sign_in_error > span {
	text-align: center;
	position: static;
}