
/* Full-width input fields */
#username, #password, #firstname, #lastname, #email, #gender, #password, #confirm {
    width:                    100%;
    padding:                  12px 20px;
    margin:                   8px 0;
    display:                  inline-block;
    border:                   1px solid #ccc;
    box-sizing:               border-box;
    height:                   30px;
}

.container {
    padding:                  16px;
    background-color:         #fff;
    box-shadow:               black 0px 5px 15px;
    margin:                   80px auto 0 auto; /* 5% from the top, 15% from the bottom and centered */
    border:                   1px solid #888;
    border-radius:            10px;
    width:                    35%; /* Could be more or less, depending on screen size */
}

#reg_form {
    margin-top:               -1%;
}

/* Set a style for all buttons */
.button {
    background-color:         #0E2130;
    color:                    white;
    padding:                  14px 20px;
    margin:                   8px 0;
    border:                   none;
    cursor:                   pointer;
    width:                    100%;
}

.button:hover {
    opacity:                  0.8;
}

h2{
    font-size:                16px;
    text-align:               center;
}

.sign_in_error {
    color:                    red;

